.account-card-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  background-color: grey;
  width: 92%;
  height: 70vh;
  margin-left: 4%;
}

.account-card {
  padding: 20px;
}

.account-email {
}

.text-center {
  text-align: center;
}

.account-btn-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.alert {
  padding: 20px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-bottom: 20px;
}
