.community-group-main {
  width: 100%;
  height: 100vh;
  display: flex;
}
.community-nav {
  width: 25%;
  height: 100vh;
  background-color: rgb(54, 48, 93);
  border-right: 10px rgb(53, 53, 53) solid;
  box-sizing: border-box;
}

.community-nav > .nav-title-wrapper {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: rgb(30, 25, 57);
}
.community-nav > .nav-title-wrapper > p {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Tilt Neon", sans-serif;
  margin-left: 10px;
  letter-spacing: 2px;
}
.chat-container-main {
  width: 75%;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  background: url(../assets/chat-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.chat-title-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 5px 0;
  align-items: center;
  background-color: rgba(30, 25, 57, 0.7);
  backdrop-filter: blur(2px);
}
.community-chat-logo {
  width: 50px;
  height: 50px;
  /* overflow: hidden; */
  background-color: grey;
  border-radius: 50%;
  margin-left: 20px;
}
.chat-title-wrapper p {
  font-size: 34px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Tilt Neon", sans-serif;
  padding-left: 20px;
}

.msg-sender {
  height: 60px;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1%;
  /* padding-bottom: 75px; */
}

.msg-sender input {
  all: unset;
  height: 60px;
  width: calc(90% - 60px - 1%);
  padding-left: 20px;
  background-color: #2f3425;
  border-radius: 50px;
  border: solid #76a813 2px;
  font-family: "Tilt Neon", sans-serif;
}

.msg-sender input::placeholder {
  color: rgba(255, 255, 255, 0.777);
  font-size: 18px;
  letter-spacing: 2px;
}

.msg-sender button {
  all: unset;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  background: url("../assets/icons/forward-icon.svg");
  background-color: #76a518;
  border-radius: 50px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Tilt Neon", sans-serif;
}

/* single message css */

.chat-msg-container {
  height: calc(100%);
  margin-bottom: 20px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  overflow-y: scroll;
  scrollbar-base-color: black 10px;
}

.msg {
  cursor: pointer;
  color: #000;
  display: inline;
  position: relative;
  /* clear: both; */
  line-height: 28px;
  font-size: 23px;
  padding: 8px;
  max-width: 75%;
  word-wrap: normal;
  z-index: 2;
  margin-top: 14px;
}
.left-msg {
  align-self: flex-start;
  border-radius: 0px 1.5vw 1.5vw 1.8vw;
  margin-left: 20px;
  border: 2.5px solid;
  border-color: rgb(118, 168, 19);
  color: white;
  margin-top: 20px;
}

.right-msg {
  background-color: #76a813;
  color: white;
  margin-right: 20px;
  align-self: flex-end;
  border-radius: 1.5vw 0px 1.5vw 1.8vw;
}

.msg-text {
  font-family: "Tilt Neon", sans-serif;
  color: inherit;
  padding: 0 10px;
}

.msg-time-stamp {
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
  position: absolute;
  left: 0;
  top: -14.5px;
  min-width: 150px;
  line-height: 10px;
  opacity: 0;
  transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.right-msg > .msg-time-stamp {
  top: -12.5px;
  right: 0;
  left: unset;
  text-align: right;
  font-family: "Tilt Neon", sans-serif;
}

.msg .msg-time-stamp:nth-child(2) {
  opacity: 0;
  transform: translateY(100%);
  z-index: 0;
}
.msg:hover .msg-time-stamp:nth-child(2) {
  opacity: 1;
  transform: translate(0);
}
.msg .msg-time-stamp:nth-child(3) {
  opacity: 1;
  font-size: 14px;
  top: -15.5px;
  font-style: normal;
  font-family: "Tilt Neon", sans-serif;
}
.msg:hover .msg-time-stamp:nth-child(3) {
  transform: translateY(-100%);
  opacity: 0;
}
