.media-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  z-index: -1;
}

.media-backdrop {
  position: fixed;
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 150ms linear;
  z-index: 1;
  aspect-ratio: 1920/1080;
}

.media-backdrop::after {
  content: "";
  display: block;
  background-image: radial-gradient(farthest-side at 73% 21%, transparent, rgba(41, 41, 62, 0.717));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

