.movie-card {
  width: fit-content;
  height: 300px;
  background: transparent;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0/73%) 0px 16px 10px -10px;
}
.movie-card-left {
  width: 250px;
  height: 100%;
  float: left;
  background: transparent;
  position: relative;
  z-index: 2;
}
.movie-card-left img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.movie-card-left:hover img {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.movie-card-left:hover > .movie-card-right {
  opacity: 1;
  transform: translate(250px, 0);
  width: 325px;
}
.movie-card-right {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  width: 250px;
  height: 100%;
  background: #000000;
  overflow: hidden;
  position: absolute;
  top: 0;
  border-radius: 0 10px 10px 0;
  transform: translate(-100%, 0);
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  z-index: -1;
}
.movie-card-right h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 20px;
  margin: 30px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
}
.movie-card-right-details ul {
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}
.movie-card-right-details ul li {
  display: inline;
  color: #e3e3e3;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
}

.movie-card-right-review p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 10px 0 10px 0;
  line-height: 20px;
}
.movie-card-right-review a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0 0 0 40px;
  color: var(--primary-font-color-4);
  margin: 0;
}
.movie-card-right-button {
  padding: 0 0 0 40px;
  margin: 30px 0 0 0;
  position: absolute;
  bottom: 30px;
  color: white;
}
.movie-card-right-button a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--primary-font-color-4);
  padding: 10px 10px 10px 40px;
  font-size: 12px;
  background: url(../assets/icons/play-icon-white.png);
  background-color: var(--primary-font-color-3);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;
}
.movie-card-right-button a:hover {
  color: #000000;
  background: url(../assets/icons/play-icon-black.png);
  background-color: var(--primary-font-color-4);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}
