/* .movie-card {
  width: fit-content;
  height: 250px;
  background: transparent;
  position: relative;
  background-color: var(--primary-background-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
 box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0/73%) 0px 16px 10px -10px;
  display: inline-block;
  margin: 5px;
  margin-right: 20px;
} */

.movie-card {
  width: 200px;
  /* opacity: 0.1; */
  height: 250px;
  background: transparent;
  background-color: var(--primary-background-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0/73%) 0px 16px 10px -10px;
  flex-shrink: 0;
  position: relative;
  margin: 0 17.5px;
}

.movie-card-left {
  width: 200px;
  height: 100%;
  float: left;
  background: transparent;
  position: relative;
  z-index: 1;
  transition: 0.5s 0s ease-out;
}
.movie-card-left img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.movie-card-left:hover {
  z-index: 11;
}

.movie-card-left:hover img {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.movie-card-right {
  /* transition: opacity 0.5s ease-in, width 0.5s ease-in, transform 0.5s ease-in,
    0.5s z-index ease-in; */
  /* transition-delay: 3s; */
  opacity: 0;
  width: 250px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  z-index: -1;
  border-left: none;
  background-color: rgb(24, 6, 76);
  background-image: radial-gradient(
    90.68% 92.96% at 9.32% 7.04%,
    rgb(24, 6, 76, 0) 0%,
    rgb(24, 6, 76, 0.68) 40.97%,
    rgb(24, 6, 76, 0.8) 51.93%,
    rgb(24, 6, 76, 0.95) 77.75%,
    rgb(24, 6, 76, 0.95) 100%
  );
}

.show-card-details {
  transition: 0.3s 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.34);
  opacity: 1;
  transform: translate(200px, 0);
  width: 236px;
  border: 3px solid rgba(77, 77, 77, 0.8);
  border-left: none;
  z-index: 10;
}

.movie-card-title {
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 17px;
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
  letter-spacing: 1px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.movie-card-right-details ul {
  list-style-type: none;
  padding: 0 0 0 20px;
  margin: 5px 0 0 0;
}

.movie-card-right-details ul li {
  display: inline;
  color: greenyellow;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 0 20px 0 0;
}

.movie-card-right-review p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 100%;
  padding: 0 20px 0 20px;
  letter-spacing: 1px;
  margin: 5px 0 0 0;
  line-height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 13px;
  height: calc(13px * 8);
}
.movie-card-right-review a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 0 0 0 20px;
  color: var(--primary-font-color-4);
  margin: 0;
}
.movie-card-right-button {
  padding: 0 0 0 20px;
  margin: 10px 0 0 0;
  position: absolute;
  bottom: 20px;
  color: white;
  scale: 1.2;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.show-card-details div .movie-card-right-button {
  opacity: 1;
}
.movie-card-right-button a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--primary-font-color-4);
  padding: 5px 5px 5px 20px;
  font-size: 12px;
  background: url(../assets/icons/play-icon-white.png);
  background-color: var(--primary-font-color-3);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;
}
.movie-card-right-button a:hover {
  color: #000000;
  background: url(../assets/icons/play-icon-black.png);
  background-color: var(--primary-font-color-4);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}
