.navbar-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  /* background-color: #01010177; */
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar-title,
.navbar-items,
.normal-button {
  display: inline-block;
  cursor: pointer;
}
.navbar-title {
  margin-left: 4%;
  display: flex;
  align-items: center;
}
.navbar-title-logo {
  background-image: url(../assets/mm-logo.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  background-color: var(--primary-font-color-3);
  border-radius: 10px;
}

.navbar-title > p {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 0;
  font-family: "Oswald", sans-serif;
}

.navbar-buttons-wrapper {
  display: flex;
  /* width: 170px; */
  margin-right: 4%;
  align-items: center;
  justify-content: space-between;
}

#login-button {
  border: none;
}

#signin-button {
  border-color: var(--primary-font-color-3);
  color: var(--primary-font-color-1);
  background-color: var(--primary-font-color-3);
}

.navbar-items > li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}

.navbar-items > li:hover {
  color: var(--primary-font-color-4);
  cursor: pointer;
}
