.poster-section {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  border-radius: 10px;
  background-size: cover;
  backdrop-filter: brightness(10%);
  overflow: hidden;
}

.poster-section-title {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  font-size: 2rem;
  height: 80px;
  text-align: center;

  font-weight: bold;
  width: 15%;
  background-color: var(--primary-background-color);
}

.poster-section-title::before {
  transform: translateX(200px) skewX(-30deg);
  display: block;
  position: absolute;
  content: "";
  height: 80px;
  width: 100px;
  background-color: var(--primary-background-color);
}

.card-slider-container {
  margin-top: auto;
}
