/** @format */

.signin-page-container {
  width: 100%;
  height: 100vh;
  font-size: 12px;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color-1);
  background-image: url(../assets/login-background.jpg);
  background-size: cover;
}

.rat-btn {
  background: url(../assets/icons/rate-star-icon.png);
}

.acc-heart-btn {
  background: url(../assets/icons/heart-filled.svg);
}
.acc-bookmark-btn {
  background: url(../assets/icons/bookmark-filled.svg);
}

.googleButton {
  scale: 0.6;
}
.signin-page-main {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: relative;
  width: 1000px;
  min-width: 1000px;
  min-height: 600px;
  height: 600px;
  padding: 25px;
  background-color: var(--primary-background-color);
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0/73%) 0px 16px 10px -10px;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .signin-page-main {
    transform: scale(0.7);
  }
}
@media (max-width: 1000px) {
  .signin-page-main {
    transform: scale(0.6);
  }
}
@media (max-width: 800px) {
  .signin-page-main {
    transform: scale(0.5);
  }
}
@media (max-width: 600px) {
  .signin-page-main {
    transform: scale(0.4);
  }
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 600px;
  height: 100%;
  padding: 25px;
  background-color: var(--primary-background-color);
  transition: 1.25s;
}

.signin-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.signin-form-link {
  padding: 10px;
}

.label-text {
  font-size: 0.75rem;
  color: var(--primary-font-color-4);
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  left: -20%;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: var(--primary-background-color);
  width: fit-content;
}

.error-alert {
  border: solid 2px red;
  background-color: rgb(200, 65, 65);
  padding: 11px 10px;
  border-radius: 5px;
  opacity: 0;
}

.show-erorr-alert {
  opacity: 1 !important;
}

.form__input::placeholder {
  opacity: 0.5;
}

.form__input {
  padding: 11px 10px;
  width: 55%;
  font-size: 0.75rem;
  border: 2px var(--primary-font-color-4) solid;
  border-radius: 5px;
  background: var(--primary-background-color);
}
.form__input:focus {
  outline: none;
}
.form__span {
  margin-top: 30px;
  margin-bottom: 12px;
}
.form__link {
  color: var(--primary-font-color-4);
  font-size: 15px;
  margin-top: 25px;
  border-bottom: 1px solid #a0a5a8;
  line-height: 2;
}

.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 3;
  color: var(--primary-font-color-4);
}

.description {
  font-size: 14px;
  letter-spacing: 0.25px;
  text-align: center;
  line-height: 1.6;
}

.signin-button {
  cursor: pointer;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: var(--primary-font-color-4);
  color: #f9f9f9;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0/73%) 0px 16px 10px -10px;

  border: none;
  outline: none;
}

.a-container {
  z-index: 100;
  left: calc(100% - 600px);
}

.b-container {
  left: calc(100% - 600px);
  z-index: 0;
}

.logo {
  width: 100px;
  height: 100px;
}
.signin-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400px;
  padding: 50px;
  z-index: 200;
  transition: 1.25s;
  background-color: var(--primary-background-color);
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0/73%) 0px 16px 10px -10px;
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 400px;
  padding: 50px 55px;
  transition: 1.25s;
}

/* .switch__button {
  cursor: pointer;
}

.switch__button:hover {
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0/73%) 0px 16px 10px -10px;
  transform: scale(0.985);
  transition: 0.25s;
  background-color: green;
}
.switch__button:active,
.switch__button:focus {
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0/73%) 0px 16px 10px -10px;
  transform: scale(0.97);
  transition: 0.25s;
} */

.is-txr {
  left: calc(100% - 400px);
  transition: 1.25s;
  transform-origin: left;
}

.is-txl {
  left: 0;
  transition: 1.25s;
  transform-origin: right;
}

.is-z200 {
  z-index: 200;
  transition: 1.25s;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 0.25s;
}

.is-gx {
  animation: is-gx 1.25s;
}

@keyframes is-gx {
  0%,
  10%,
  100% {
    width: 400px;
  }
  30%,
  50% {
    width: 500px;
  }
}

/* extra styling pages */
